<div class="background">
  <form action="/crud/edit/{{info.id}}" method="post">
    <div class="container">
      <div class="row row-cols-3 mx-auto">
        <div class="col">
          <p class="text-center">
            *必填欄位
          </p>
        </div>
        <div class="col">
          <div class="text-center mx-auto mb-4" id="title">
            請修改你的支出
          </div>
        </div>
        <div class="col"></div>
        <div class="col">
          <p class="titleName text-center">名稱* :</p>
        </div>
        <div class="col">
          <input class="mx-auto" value="{{info.name}}" name="name" type="text" required>
          </input>
        </div>
        <div class="col"></div>
        <div class="col">
          <p class="titleName text-center">日期* :</p>
        </div>
        <div class="col">
          <input id="startDate " type="date" value="{{info.date}}" name="date" required>
          </input>
        </div>
        <div class="col"></div>
        <div class="col">
          <p class="titleName text-center">類別* :</p>
        </div>
        <div class="col">
          <select name="categoryId" aria-label="Default select example" required>
            <option selected value="{{info.categoryId}}">{{info.categoryName}}</option>
            <option value="1">家居物業</option>
            <option value="2">交通出行</option>
            <option value="3">休閒娛樂</option>
            <option value="4">餐飲食品</option>
            <option value="5">其他</option>
          </select>
        </div>
        <div class="col"></div>
        <div class="col">
          <p class="titleName text-center">金額* :</p>
        </div>
        <div class="col">
          <input value="{{info.amount}}" name="amount" type="number" required>
          </input>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-outline-light mt-5">
      <div id="cresteButtom">送出</div>
    </button>
  </form>
</div>