<div class="background">
  <div class="container mt-5 w-50">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="dropdown">
          <div class="btn bg-white dropdown-toggle text-end w-100 position-relative" href="#" role="button"
            id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="position-absolute top-50 start-0 translate-middle-y">
              {{categoryName}}
            </div>
          </div>
          <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="/accounts/home">總計</a></li>
            <li><a class="dropdown-item" href="/sort/1">家居物業</a></li>
            <li><a class="dropdown-item" href="/sort/2">交通出行</a></li>
            <li><a class="dropdown-item" href="/sort/3">休閒娛樂</a></li>
            <li><a class="dropdown-item" href="/sort/4">餐飲食品</a></li>
            <li><a class="dropdown-item" href="/sort/5">其他</a></li>
          </ul>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="bg-white position-relative h-100">
          <div class="position-absolute top-0 start-0">總金額：</div>
          <div class="main text-end me-4 w-100 fs-1 me-1" style="color: coral;">
            {{totalAmount}}
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
    {{#each newTotalItem}}
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="item bg-white position-relative h-100">
          <div class="icon">
            <i class="fa-solid fa-{{this.iconHtml}} fa-2xl" style="color: rgb(120, 191, 253)"></i>
          </div>
          <p class="name fs-5">{{this.name}}</p>
          <p class="date fs-6">{{this.date}}</p>
          <p class="amount">{{this.amount}}</p>
          <div class="main text-end me-4 w-100 fs-6 text-black">
          </div>
        </div>
      </div>
      <div class="col-2 d-flex justify-content-around">
        <a href="/crud/edit/{{this.id}}" class="text-white mt-4" style="text-decoration: none">
          修改
        </a>
        <form action="/crud/delete/{{this.id}}" method="post">
          <button class="btn btn-link text-white mt-3" style="text-decoration: none">
            刪除
          </button>
        </form>
      </div>
    </div>
    {{/each}}
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <a href="/crud/new" class="btn btn-outline-light mt-2 w-100 mx-auto" id="create">新增支出</a>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>