<div class="category-selection">
  <select name="category">
    <option>類別</option>
    <option>總支出</option>
    <option>家居物業</option>
    <option>交通出行</option>
    <option>休閒娛樂</option>
    <option>餐飲食品</option>
    <option>其他</option>
  </select>
</div>

<div class="container">
  <div class="total-amount">
    <p class="title">總金額：</p>
    <p class="amount">{{totalAmount}}</p>
  </div>
  <div class="item-list">
    {{#each newTotalItem}}
    <div class="item">
      <i class="fa-solid fa-{{this.iconHtml}}"></i>
      <p class=" name">{{this.name}}</p>
      <p class="date">{{this.date}}</p>
      <p class="amount">{{this.amount}}</p>
      <div class="edit-delete">
        <a class="edit" href="/crud/edit/{{this.id}}">
          修改
        </a>
        <a href="/crud/delete/{{this.id}}">
          刪除
        </a>
      </div>
    </div>
    {{/each}}
  </div>
  <a href="/crud/new" class="create">
    <p>
      新增支出
    </p>
  </a>
</div>