<div class="category-selection">
  <div class="dropdown">
    <div class="btn bg-white dropdown-toggle text-end w-100 position-relative" href="#" role="button"
      id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      <div class="position-absolute top-50 start-0 translate-middle-y">
        {{categoryName}}
      </div>
    </div>
    <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="/accounts/home">總計</a></li>
      <li><a class="dropdown-item" href="/sort/1">家居物業</a></li>
      <li><a class="dropdown-item" href="/sort/2">交通出行</a></li>
      <li><a class="dropdown-item" href="/sort/3">休閒娛樂</a></li>
      <li><a class="dropdown-item" href="/sort/4">餐飲食品</a></li>
      <li><a class="dropdown-item" href="/sort/5">其他</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="total-amount">
    <p class="title">總金額：</p>
    <p class="all"></p>
  </div>
  <div class="item-list">
    {{#each newTotalItem}}
    <div class="item">
      <i class="fa-solid fa-{{this.iconHtml}}"></i>
      <p class=" name">{{this.name}}</p>
      <p class="date">{{this.date}}</p>
      <p class="amount">{{this.amount}}</p>
      <div class="edit-delete">
        <a class="edit" href="/crud/edit/{{this.id}}">
          修改
        </a>
        <a href="/crud/delete/{{this.id}}">
          刪除
        </a>
      </div>
    </div>
    {{/each}}
  </div>
  <a href="/crud/new" class="create">
    <p>
      新增支出
    </p>
  </a>
</div>


<script src="/javascripts/index.js"></script>